<!DOCTYPE html>
<html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,500&display=swap" rel="stylesheet">
    <head>
        <title>Users index page</title>
        <style>
            table {
                border-collapse: collapse;
                font-family: 'Montserrat', sans-serif;
            }
            td, th {
                border: 1px solid black;
                padding: 1em;
                font-family: 'Montserrat', sans-serif;
            }
            h1 {
                font-family: 'Montserrat', sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>Users</h1>
        <table>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
            <%  User.all.collect do |row| %>
            <tr>
                <td><%= row.firstname%></td>
                <td><%= row.lastname%></td>
                <td><%= row.age%></td>
                <td><%= row.email%></td>
            </tr>
            <% end %>
        </table>
    </body>
</html>